<div class="tabs is-centered is-boxed is-large">
  <ul>
    <% @sections.each do |section| %>
      <li class="<%= 'is-active' if params[:section] == section.name %>"> 
        <%= link_to(section.name, sections_path(section: section.name)) %>
      </li>  
    <% end %>
  </ul>
</div>
    <% if @food_items.present? %>
    <br></br>
    <% @food_items.in_groups_of(3) do |group| %>
      <div class="columns">
        <% group.compact.each do |food_item| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="<%= food_item.fake_image_url %>" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= food_item.name %>:<br> <%= number_to_currency(food_item.price) %></p>
                    <p class="subtitle is-6"><%= food_item.description %></p>

                    <%= form_for LineItem.new(food_item: food_item), url: carts_add_path do |f| %>
                      <%= f.hidden_field :food_item_id %>
                      <%= f.number_field :quantity, class: "input" %>
                      <%= f.submit "Order", class: "button is-primary"  %>
                    <% end %>

                    <%= form_tag food_item_path(food_item.id), method: :delete do %>
                      <%= submit_tag "Delete", class: " hidden button is-primary", style:"margin: 10px" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
       <% end %>
      </div>
    <% end %>
 </div>
 </div>
