<h1>Menu</h1>

<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to(section.name, sections_path(section: section.name), class: "nav-link #{'active'if params[:section] == section.name}") %>
    </li>  
  <% end %>
  
  <% if @food_items.present? %>
    <br></br>
    <div class="card fooditems" style="width: 20rem; margin: 10px; float: left">
      <img class="card-img-top" src="<%= food_item.fake_image_url %>">
      <div class="card-block">
        <h4 class="card-title">
          <%= food_item.name %>:<br> <%= number_to_currency(food_item.price) %>
        </h4>
        <p class="card-text"><%= food_item.description %></p>

        <%= form_for LineItem.new(food_item: food_item), url: carts_add_path do |f| %>
          <%= f.hidden_field :food_item_id %>
          <%= f.number_field :quantity, class: "form-control" %>
          <%= f.submit "Order", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
 