<!DOCTYPE html>
<html>
  <head>
    <title>Yen Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div>
    <nav class="navbar navbar-light bg-faded">
      <form class="form-inline">

        <button class="btn btn-outline-success" type="button">
          <a class="nav-lin" href="<%=root_path %>"><span class=" sr_only"> Home </span>
        </button>

        <button class="btn btn-outline-success" type="button">
           <a class="nav-lin" >Cart <span class="sr_only"> <%= @cart.item_count %></pan>
        </button>

      </form>
    </nav>
  </div>  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
