<!DOCTYPE html>
<html>
  <head>
    <title>Yen Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
        <a class="nav-item" href="<%=root_path %>">        
        <strong> Yên Restaurant</strong>  
          <span class="icon is-large ">
            <i class="fa fa-cutlery"></i>
          </span>
        </a>
  <div class="tabs is-centered">
    <ul>
      <li><a><%= link_to "Menu", sections_path %></a></li>
      <li><a><%= link_to "Contact Us", contact_us_path %></a></li>
      <li><a><%= link_to "About VegansFood", about_index_path %></a></li>
      <li><a><%= link_to "Cart",cart_path %></a></li>
    </ul>
  </div>
</section>

    <% flash.each do |key, value| %>
      <div class="alert <%= flasherize(key) %>"><% value %></div>
     <% end %> 

  <div class="container">
    <%= yield %> 
  </div>
</body>
</html>
