<!DOCTYPE html>
<html>
  <head>
    <title>MexicanFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div>
    <nav class="navbar navbar-light bg-faded">
      <form class="form-inline">
        <button class="btn btn-outline-success" type="button">
        <a class="nav-lin" href="<%=root_path %>">La <span class=" sr_only"> Fiesta</pan>
        </button>
      </form>
    </nav>
  </div>  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
